<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.mapper.CertTypeDaoMapper" >

  <resultMap id="BaseResultMap" type="cn.bean.CertTypeDao" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="content" property="content" jdbcType="VARCHAR" />
  </resultMap>
  
  <select id="getCertType" resultMap="BaseResultMap" parameterType="CertType" >
    select *
    from certtype
  </select>
</mapper>